.navbar-container {
  display: grid;
  grid-template-columns: repeat(8, auto);
  background-color: #141414;
  height: 2.4em;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.navbar-container:hover {
  /*background-color: grey;*/
}

.navbar-items {
  text-decoration: none;
  color: #D0D0D0;
  flex-grow: 1;
  display: grid;
  justify-content: center;
  align-content: center;
}

.navbar-items:hover {
  color: white;
  background-color: black;
}

